@import "components/site-header.css";
@import "components/hero.css";
@import "components/carousel.css";
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, sans-serif;
  }

body *{
    border:1px solid black;
}

a:link {
    text-decoration: none;
    font-weight: bold;
}


body {
    height: 2000px;
    
  }

  main {
    height: 100%;
  }

  