@import "../css-product-details/components/hero.css";
@import "../css-product-details/components/teaser.css";
@import "../css/components/footer-icons.css";
@import "../css/components/footer-links.css";
@import "../css/components/site-header.css";
@import "../css-checkout/components/checkout.css";
@import "../css-checkout/components/mediaqueries.css";
@import "../css-product-details/components/mediaqueries.css";



* {
    margin: 0;
    padding: 0;
}
i{
  -webkit-text-stroke-width: 0.5px
}

:root {
    --ikea-font: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif !important;
    font-family: var(--ikea-font);
}


body {
    border: 1px black;
}

 main {
    margin: 0px 30px;
}


a:link {
    text-decoration: none;
    font-weight: bold;
}




  main {
    height: 100%;
  }

  

  